* { margin: 0; padding: 0; }
/*html { border: 0px;  }*/

html { border: 0px;  overflow :hidden;}

body { background: #000; font-family: Microsoft JhengHei; color: #FFF; }

a, a:hover, a:visited, a:active { text-decoration: none !important; color: #FFF !important; border: none; text-shadow: 2px 2px 2px #444; }

.clearfix { clear: both; }

input, button, select, textarea { outline: none; }
/**/
div.erun { width: 1080px; height: 1085px; background: url(../images/bg.jpg) no-repeat; position: relative; overflow:hidden;}
/**/
div.header { width: 1080px; height: 100px; position: relative; }

div.logo { width: 324px; height: 67px; }

div.menu { width: 475px; height: 54px; background: url(../images/b.png) no-repeat; position: absolute; right: 40px; top: 5px; }

div.m { height: 50px; text-align: center; position: absolute; top: 2px; line-height: 50px; font-size: 20px; }

div.m1 { left: 10px; width: 100px; }

div.m2 { left: 120px; width: 110px; }

div.m3 { left: 235px; width: 110px; }

div.m4 { left: 350px; width: 120px; }

/**/

div.container { height: 885px; width: 100%; }

div.sidebar { width: 220px; height: 100%; text-align: center; margin-top: -12px; margin-left: -10px; position:fixed; z-index:999;  background: #09F; background:rgba(67,151,187,0.94); border:2px solid #FFF; top:112px; left:-220px; border-radius:0 10px 10px 0;}

div.shbutton{font-size: 17px; width:50px; background:#FFF; position:absolute; right:-70px; top:0; color:#777; font-weight:700; padding:4px;  background:rgba(67,151,187,0.77); border:2px solid #FFF; border-radius:4px; text-align:center; color:#FFF; cursor:pointer; line-height:30px; text-shadow:2px 2px 2px #003366; z-index:9; }

div.sh1{ display:none;}
div.sh2{ display:block;}

div.b { width: 180px; height: 67px; background: url(../images/n.png) no-repeat; line-height: 64px; text-align: center; font-size: 20px; margin: 10px auto; }

div.b-active { background: url(../images/l.png) no-repeat; }

div.index { height: 100%; width: 1000px; margin-left:65px; margin-right:15px;}

div.zd-index-bottom { margin-top: 40px; font-weight: 700; }

div.zd-index-tjsp { width: 615px; height: 355px; float: left; }

    div.zd-index-tjsp h2, div.zd-index-lxwm h2 { border-left: 7px solid #FFF; padding-left: 10px; margin-bottom: 30px; font-weight: 400; }

div.zd-index-lxwm { width: 380px; height: 355px; float: right; }

div.zd-index-t1 { width: 300px; float:left; margin-bottom: 12px; border: 2px solid #FFF; background: #FFF; height: 200px; margin-right:7px;}

    div.zd-index-t1 img { width: 100%; height: 200px; }

div.zd-index-t2 { width: 300px; float:left; border: 2px solid #FFF; background: #FFF; height: 200px; }

    div.zd-index-t2 img { width: 100%; height: 200px; }
	
div.zd-index-t3 { width: 300px; float:left; margin-bottom: 12px; border: 2px solid #FFF; background: #FFF; height: 200px; margin-right:7px;}

    div.zd-index-t3 img { width: 100%; height: 200px; }

div.zd-index-t4 { width: 300px; float:left; border: 2px solid #FFF; background: #FFF; height: 200px; }

    div.zd-index-t4 img { width: 100%; height: 200px; }

div.zd-index-gywm { margin-top: 5px; height: 390px; background: #EEE; padding: 15px; border-radius: 0 0 7px 0; color: #000; }

    div.zd-index-gywm table td, div.zd-index-gywm table th { vertical-align: top; line-height: 2em; font-size: 14px; font-weight: 400; }

    div.zd-index-gywm table th { font-weight: 700; }

p.zd-index-qrp { text-indent: 2em; width: 70%; float: left; margin-top: 10px; }

p.zd-index-qr { float: right; width: 28%; }

    p.zd-index-qr img { width: 100%; }

div.zat { margin: 0 0 10px 0; text-align: center; position: relative;}

span.zat-prompt { background: url(../images/zat.png); box-shadow: 4px 4px 7px rgba(0,0,0,0.4); border-radius: 30px; height: 40px; line-height: 40px; text-align: center; font-size: 20px; display: inline-block; padding: 0 20px; }

div.mall { height: 100%; width: 1000px; margin-left:65px; margin-right:15px; }

div.mall-category { margin-top: 30px; }

div.mcb { background: #216177; background: url(../images/44dark.png); box-shadow: 2px 2px 10px #000; border-radius: 7px; position: relative; margin-bottom: 4px; }

div.xbs { font-size: 20px; line-height: 20px; width: 20px; height: 20px; position: absolute; right: 10px; top: 10px; cursor: pointer; text-align: center; }

a.mca { display: block; font-size: 18px; padding: 10px; }

div.mch { display: none; padding: 10px; }

a.zmc { display: inline-block; padding: 7px 14px; border: 2px solid #3FB9D7; border-radius: 4px; margin: 7px 10px; font-size: 15px; }

div.fl2 { margin-bottom: 20px; }

    div.fl2 h4 { border-bottom: 1px dashed #aaa; margin: 0 10px 10px 10px; padding: 10px 0; }

div.list { height: 100%; width: 1000px; margin-left:65px; margin-right:15px;}

a.zat-at { font-size: 15px; background: #00A3D9; border-radius: 3px; line-height: 20px; padding: 2px 7px; margin-right:10px; position:relative; z-index:444;}

ul.ul-list9 { list-style: none;  margin-top:40px; }

    ul.ul-list9 li { float: left; width: 280px; padding: 12px; margin:17px 13px; background: url(../images/44dark.png); border-radius: 7px; position: relative; }

        ul.ul-list9 li .ulc { width: 80px; height: 80px; float: left; overflow: hidden; }

            ul.ul-list9 li .ulc img { width: 80px; height: 80px; }

        ul.ul-list9 li .ult { float: left; margin-left: 10px; width: 190px; }

            ul.ul-list9 li .ult h4 { width: 190px; height: 42px; overflow: hidden; }

            ul.ul-list9 li .ult .price { color: #FF6060; font-weight: 700; font-size: 14px; }

            ul.ul-list9 li .ult .shopname { color: #FFF; font-size: 12px; }

ul.ul-list { list-style: none; }

    ul.ul-list li { float: left; width: 450px; padding: 12px; margin: 10px; background: url(../images/44dark.png); border-radius: 7px; position: relative; }

        ul.ul-list li .ulc { width: 120px; height: 120px; float: left; overflow: hidden; }

            ul.ul-list li .ulc img { width: 120px; height: 120px; }

        ul.ul-list li .ult { float: left; margin-left: 10px; width: 320px; }

            ul.ul-list li .ult h4 { width: 320px; height: 42px; overflow: hidden; }

            ul.ul-list li .ult .price { color: #FF6060; font-weight: 700; font-size: 14px; margin-top: 40px; }

            ul.ul-list li .ult .shopname { color: #FFF; font-size: 14px; }

div.ulist-ico { position: absolute; bottom: 10px; }

ul.ul-list li .uulc { width: 100px; height: 100px; float: left; overflow: hidden; }

    ul.ul-list li .uulc h4 { width: 200px; height: 42px; overflow: hidden; }

    ul.ul-list li .uulc img { width: 100px; height: 100px; }

ul.ul-list li .uult { font-size: 15px; }

ul.ul-slist { list-style: none; }

    ul.ul-slist li { float: left; width: 310px; padding: 7px; margin: 5px; background: url(../images/22dark.png); }

        ul.ul-slist li .ulc { width: 100px; height: 100px; float: left; overflow: hidden; }

            ul.ul-slist li .ulc img { width: 100px; height: 100px; }

        ul.ul-slist li .ult { float: left; margin-left: 10px; }

            ul.ul-slist li .ult h4 { width: 180px; height: 42px; overflow: hidden; }

            ul.ul-slist li .ult .price { color: #FF6060; font-weight: 700; font-size: 14px; margin-top: 20px; }

            ul.ul-slist li .ult .shopname { color: #FFF; font-size: 14px; }

ul.ul-zlist { list-style: none; }

    ul.ul-zlist li { float: left; width: 300px; padding: 7px; margin: 5px; text-align: center; }

        ul.ul-zlist li .zspic { width: 90%; margin: 0 auto; }

        ul.ul-zlist li .alpic { padding: 4px; background: #D5E1F0; border-radius: 3px; }

            ul.ul-zlist li .alpic img { width: 100%; }

        ul.ul-zlist li .zsn { font-size: 15px; text-align: center; overflow: hidden; margin-top: 10px; }

span.v { font-family: Georgia; font-weight: 700; color: #FCA94B; margin-left: 10px; font-size:22px;}

    span.v em { font-style: normal; font-size: 13px; margin-left: -2px; }

div.rz-ico { margin-top: 30px; }

span.yico { width: 22px; height: 22px; border-radius: 100%; line-height: 22px; text-align: center; color: #FFF; background: #77D3D6; display: inline-block; }

span.rico { width: 22px; height: 22px; border-radius: 100%; line-height: 22px; text-align: center; color: #FFF; background: #FFAC7D; display: inline-block; }

span.jico { width: 22px; height: 22px; border-radius: 100%; line-height: 22px; text-align: center; color: #FFF; background: #E0C06E; display: inline-block; }

div.page { margin-top: 30px; position: relative; }

ul.ul-page { list-style: none; text-align: center; }

    ul.ul-page li { width: 52px; height: 52px; background: url(../images/pd.png); float: left; text-align: center; line-height: 52px; margin: 0 10px; font-family: simsum; font-size: 20px; }

        ul.ul-page li.first, ul.ul-page li.last { font-weight: 700; }

        ul.ul-page li.selpage { background: url(../images/pl.png) !important; font-weight: 700; }

div.cart { height: 100%; width: 1000px; margin-left:65px; margin-right:15px; position: relative; }

a.ctjdd { display: block; background: url(../images/b3.png) no-repeat; width: 180px; height: 67px; text-align: center; line-height: 67px; font-size: 22px; font-weight: 700; position: absolute; right: 15px; bottom: 0; }

a.ctjqk { display: block; background: url(../images/b2.png) no-repeat; width: 180px; height: 67px; text-align: center; line-height: 67px; font-size: 22px; font-weight: 700; position: absolute; right: 210px; bottom: 0; }

div.shanchu { position: absolute; bottom: 0px; width: 30px; height: 30px; border-radius: 20px; background: #328FB6; color: #000; line-height: 30px; text-align: center; margin-bottom: -15px; right: -15px; font-size: 13px; border: 2px solid rgba(0,0,0,0.77); }

div.cguige { color: #999; font-weight: 700; }

a div.shanchu { text-shadow: none; }

div.cguige span { margin: 0 10px 10px 0; }

div.cshuliang { float: right; color: #FFF; }

div.cart2 { background: #174250; background: url(../images/44dark.png); border-radius: 7px; padding: 30px; }

div.cart2-t { background: url(../images/bzdot.png) no-repeat; width: 100%; margin-bottom: 40px; }

    div.cart2-t span { margin-left: 20px; line-height: 18px; }

dl.c2dl { border: 2px solid #FFF; border-radius: 4px; padding: 10px; font-size: 18px; position: relative; padding-left: 100px; line-height: 30px; margin-bottom: 40px; }

    dl.c2dl dt { font-weight: 700; position: absolute; left: 0; text-align: center; width: 100px; }

    dl.c2dl dd { }

        dl.c2dl dd span { margin-right: 50px; }

div.c2add { text-align: center; margin-top: 70px; }

a.c2adda { padding: 11px 55px; border: 2px solid #FFF; border-radius: 4px; }

a.c2addb { padding: 11px 22px; border: 2px solid #FFF; border-radius: 4px; font-family: simsum; }

div.c2b { width: 70%; margin: 70px auto 0 auto; }

dl.c3dl { border: 2px solid #FFF; border-radius: 4px; padding: 10px; font-size: 17px; position: relative; padding-left: 150px; line-height: 30px; margin-bottom: 20px; }

    dl.c3dl dt { font-weight: 700; position: absolute; left: 0; text-align: right; width: 120px; }

    dl.c3dl dd { margin-left: 20px; }

        dl.c3dl dd span { margin-right: 50px; }

a.c3a { padding: 11px 55px; border: 2px solid #FFF; border-radius: 4px; margin-right: 20px; }

div.cart3-t { background: url(../images/bzdot.png) no-repeat; width: 100%; margin-bottom: 40px; margin-top: 40px; }

    div.cart3-t span { margin-left: 20px; line-height: 18px; }

a.cartactive { background: url(../images/lzdot.png) repeat; }

.cartbctive { background: url(../images/lzdot.png) repeat; }

div.products { height: 100%; width: 1000px; margin-left:65px; margin-right:15px;}

div.products-main { margin-top: 50px; }

div.produsts-info { margin-top: 50px; }

span.pip { font-size: 30px; color: #FF6060; font-weight: 700; }

a.pia-xq { display: block; width: 180px; height: 67px; background: url(../images/b2.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-xqs { display: block; width: 140px; height: 52px; background: url(../images/b2s.png) no-repeat; line-height: 52px; font-size: 17px; }

a.pia-gm { display: block; width: 180px; height: 67px; background: url(../images/b1.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-gms { display: block; width: 140px; height: 52px; background: url(../images/b1s.png) no-repeat; line-height: 52px; font-size: 17px; }

a.pia-gd { display: block; width: 180px; height: 67px; background: url(../images/n.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-gmz { display: block; width: 180px; height: 67px; background: url(../images/b3.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-gmzs { display: block; width: 140px; height: 52px; background: url(../images/b3s.png) no-repeat; line-height: 52px; font-size: 17px; }

a.pia-qx { display: block; width: 180px; height: 67px; background: url(../images/b2.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-qrx { display: block; width: 180px; height: 67px; background: url(../images/b2.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-qr { display: block; width: 67px; height: 67px; background: url(../images/qr.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-zs { display: block; width: 180px; height: 67px; background: url(../images/m.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-zss { display: block; width: 140px; height: 52px; background: url(../images/ms.png) no-repeat; line-height: 52px; font-size: 17px; }

a.pia-jk { display: none; width: 180px; height: 67px; background: url(../images/p.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-jks { display: none; width: 140px; height: 52px; background: url(../images/ps.png) no-repeat; line-height: 52px; font-size: 17px; }

a.pia-fzs { display: block; width: 180px; height: 67px; background: url(../images/m.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-fgm { display: block; width: 180px; height: 67px; background: url(../images/b1.png) no-repeat; line-height: 67px; font-size: 22px; }

a.pia-sy { display: block; width: 48px; height: 80px; position: absolute; top: 20px; left: 50%; margin-left: -12px; }

a.pia-xy { display: block; width: 48px; height: 80px; position: absolute; bottom: 20px; left: 50%; margin-left: -12px; }

a.zat-at2 { font-size: 17px; background: #143A48; border-radius: 20px; line-height: 20px; padding: 4px 7px; }

div.nairong { width: 100%; margin: 20px auto; display: none; }

div.ssnr { text-align:center; width: 100%; height: 940px; margin: 10px auto; background: #FFF; overflow-x: hidden; overflow-y: scroll; border-radius: 4px; border: 2px solid #FFF; display: none; }

div.nrzp { display: none; }

/*div.ssnr img { width: 100%; }*/

div.qrs { width: 400px; height: 444px; position: absolute; left: 50%; top: 50%; margin-left: -200px; margin-top: -222px; display: none; }

    div.qrs img { width: 100%; }

    div.qrs .qrexit { text-align: center; margin-top: 50px; }

div.guige { margin-top: 70px; display: none; }

dl.ggtable { margin: 0 auto; width: 800px; padding-left: 100px; }

    dl.ggtable dt { line-height: 70px; font-size: 25px; }

    dl.ggtable dd { line-height: 44px; font-size: 25px; }

        dl.ggtable dd a { display: inline-block; padding: 4px 44px; border: 2px solid #40B6D4; border-radius: 4px; margin: 0 7px 7px 0; }

            dl.ggtable dd a.active { background: #40B6D4; }

input.guigeinput { line-height: 54px;height: 54px; margin: 0 10px; text-align: center; font-size: 25px; width: 120px; background: none; background: url(../images/22dark.png) repeat; border: 2px solid #FFF; border-radius: 7px; color: #FFF; }

div.search {height: 100%; width: 1000px; margin-left: 65px; margin-right:15px; position: relative; }

div.input-search { background: url(../images/search2.png) no-repeat; width: 974px; height: 85px; }

input.isc { line-height: 50px; height: 50px; margin: 12px 30px; font-size: 25px; background: none; color: #FFF; border: none; width: 768px; font-family: Microsoft JhengHei; }

input.isb { background: url(../images/isb.png); width: 129px; height: 65px; line-height: 65px; text-align: center; border: none; font-size: 25px; color: #FFF; font-family: Microsoft JhengHei; }

div.search-tjsp { margin-top: 40px; }

div.sp { height: 100%; width: 1000px; margin-left:65px; margin-right:15px; position: relative; }

div.spl1 { background: url(../images/44dark.png); padding: 10px; border-radius: 7px; }

div.spc { float: left; width: 100px; height: 100px; border-radius: 7px; overflow: hidden; }

    div.spc img { width: 100px; height: 100px; border-radius: 7px; }

div.spni { float: left; width: 640px; height: 100px; margin-left: 10px; }

    div.spni h1 { margin: 5px 0; }

div.spinfo { margin-top: 20px; }

div.spl2 { background: url(../images/44dark.png); height: 670px; padding: 20px; margin: 20px 0; border-radius: 7px; }

div.spl2l { float: left; width: 970px; height: 100%; overflow-x: hidden; overflow-y: auto; }

    div.spl2l p { margin-bottom: 20px; }

div.spl2r { float: right; width: 88px; height: 100%; border-left: 1px solid #999; position: relative; display:none;}

div.register { width: 100%; background: url(../images/44dark.png); background: rgba(0,0,0,0.44); height: 100%; }

div.recovery { background: url(../images/recovery.jpg) center no-repeat; background: rgba(0,0,0,0.4); }

    div.recovery h1 { color: #FFF; text-align: center; padding: 0 20px; margin: 0; text-shadow: 0 0 30px rgba(0, 0, 0, 0.5); font-weight: 100; line-height: 170px; }

div.register p.tips { text-align: center; font-size: 18px; color: #fff; line-height: 1.5em; font-weight: 100; margin: 30px 0; }

div.efrom { text-align: center; width: 50%; margin: 20px auto; }

input.eput { display: block; width: 94%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; }

div.ebutton { text-align: center; margin-top: 40px; }

    div.ebutton table { margin: 0 auto; }

div.zcxynr { width: 800px; height: 500px; margin: 50px auto 100px auto; padding: 20px; overflow: hidden; }

    div.zcxynr p { margin-bottom: 20px; }

div.orderlist { height: 100%; width: 1000px; margin-left:65px; margin-right:15px; position: relative; }

div.listbiao { margin-top: 40px; }

table.lbtable { background: #000; background: rgba(0,0,0,0.44); border-radius: 7px; padding: 10px; margin-bottom: 20px; }

.lbtable-tr1 span { margin-right: 20px; font-size: 14px; }

.lbtable-tr2-td1 { padding: 10px; }

.lbtcover { float: left; width: 70px; }

.lbtitle { float: left; width: 350px; margin-left: 10px; }

p.lbtzl { color: #BBB !important; font-size: 14px; }

.lbtnum { float: left; width: 30px; margin-left: 10px; }

a.zsmjb { display: block; padding: 7px; border-radius: 7px; background: rgba(0,0,0,0.33); font-size: 14px; }

table.lbtable2 { background: #000; background: rgba(0,0,0,0.44); border-radius: 7px; padding: 10px; margin-bottom: 20px; }

    table.lbtable2 th { text-align: right; padding: 7px; }

table.lbtable3 { background: #000; background: rgba(0,0,0,0.44); padding: 10px; margin-bottom: 2px; }

.lbtcover2 { float: left; width: 70px; }

.lbtitle2 { float: left; width: 740px; margin-left: 10px; }

.lbtnum2 { float: left; width: 50px; margin-left: 20px; }

div.sbspsl { height: 107px; overflow: hidden; margin-bottom: 20px; border: 2px solid #FFF; border-radius: 7px; position: relative; width: 940px; }

a.sxsg, a.sxxg { display: block; width: 44px; height: 44px; line-height: 44px; text-align: center; position: absolute; right: 0px; border: 2px solid #FFF; border-radius: 13px; background: rgba(0,0,0,0.44); }

a.sxsg { top: 0; }

a.sxxg { bottom: 0; }

div.fysp { position: relative; }
/**/
div.footer { width: 1080px; height: 45px; position: absolute; bottom: 0; right: 0; background: url(../images/c.png) right no-repeat; }

/**/
div.lightbox { width: 1080px; height: 1085px; position: absolute; left: 0; top: 0; background: url(../images/mbg.jpg); z-index: 9999; display: none; }

div.lightbox2 { width: 1080px; height: 1000px; position: absolute; left: 0; top: 0; background: url(../images/nbg.jpg); z-index: 9999; display: none; }

div.darkbox { width: 1080px; height: 1000px; position: absolute; left: 0; top: 0; background: url(../images/dark.png) repeat; background: rgba(0,0,0,0.88); z-index: 9999; display: none; }

div.addconten { width: 800px; margin: 100px auto; }

div.xzdq { width: 534px; margin: 0 auto; text-align: left; position: relative; }

div.ncxz { width: 495px; background: #000; background: rgba(0,0,0,0.88); border: 2px solid #FFF; border-radius: 7px; padding: 20px; margin-top: 10px; position: absolute; top: 48px; left: -5px; display: none; }

    div.ncxz a { padding: 7px 14px; border: 2px solid #00A3D9; display: inline-block; margin: 7px; }

button.addbutton { height: 48px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; margin-right: 7px; }

div.qrpay{ background: #FFF; color:#777; height:250px; border-radius: 7px; padding: 10px; margin-bottom: 20px;}

div.qr1,.qr2,.qr3{ float:left; width:250px; margin-left: 30px;  margin-right: 40px;}
div.qr1{ width:270px;}
div.qr2,.qr3{ text-align:right;}
p.qrp1,.qrp2,.qrp3{ font-size:14px;}
p.qrp1{ font-weight:700;}
p.qrp2{ color:#fff; background:#F66; padding:7px;}
p.qrp3{ color:#F66;}

div.d3div{ position:relative;}
div.d3div1{ background:url(../images/3dtm.gif) repeat; width: 1050px; height:400px; position:absolute; top:2px; left:2px;}
div.d3div2{ width:60px; height:60px; position:absolute; right:62px; bottom:50px;}

div.d3div3 { margin-bottom:30px;}
div.d3div3 h2{ border-left: 7px solid #FFF; padding-left: 10px; margin-bottom: 20px;}
ul.d3ul{ list-style:none; position:relative;}
ul.d3ul li{ float:left; margin:0 5px; position:relative;}
ul.d3ul li img{ width:150px; height:150px;}
ul.d3ul li.ljt{ padding-top:30px; text-align:center;}
ul.d3ul li.ljt img{ width:60px !important; height:90px  !important;}
ul.d3ul li.rjt{ padding-top:30px; text-align:center;}
ul.d3ul li.rjt img{ width:30px  !important; height:90px  !important;}
div.d3div4{ text-align:center; overflow:hidden; width:150px; height:30px; line-height:30px;}

a.cccc{ position:absolute; top:0; right:0; font-size:30px; line-height:30px; display:block; width:30px; height:30px; color:#F00 !important; text-shadow:none !important; border:1px solid #F00; text-align:center;}

.sher{ border:none !important;}

.sxpx{ display: inline-block; padding: 10px 15px;  background: rgba(0,0,0,0.44); border-radius: 4px; margin: 0 10px;}
.sx-select{ border-bottom: 2px solid #FFF; padding-bottom: 8px;}
.plfs{ position: absolute; right: 0; top: 0;}